<form th:action="@{/publishers/add}" th:object="${publisher}" method="post">
    <input type="hidden" name="_method" value="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" th:field="*{id}"/>
    <h2>Добавляем издателя</h2>
    <label>Издатель</label>
    <input type="text" th:field="*{name}"/>
    <label>Сайт издателя</label>
    <input type="text" th:field="*{site}"/>

    <button type="submit">Сохранить</button>
    <a th:href="@{/publishers}"> Назад </a>
</form>