<form th:action="@{/books/del}" th:object="${book}" method="post">
    <body>
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" th:field="*{id}"/>

    <style>
        p {
            line-height: 1.5;}
    </style>
    <h2>Удалим книгу</h2>
    <p>
    <label>Книга</label>
    <input type="text" readonly th:field="*{name}" size="100"/>
    <br>
    <label>Автор(ы)</label>


    <input type="text" readonly
           th:value="${#strings.listJoin(book.authors.?[true].![name], ', ')}" size="100"/>
    <br>
    <label>Год издания</label>
    <input type="text" readonly th:field="*{printYear}"/>
    <br>
    <label>Издатель</label>
    <input type="text" readonly th:field="*{publisher.name}" size="60"/>
    <br>
    <label>BBK</label>
    <input type="text" readonly th:field="*{bbk}"/>
    <br>
    <label>ISBN</label>
    <input type="text" readonly th:field="*{isbn}"/>
    <br>
    <label>Страниц</label>
    <input type="text" readonly th:field="*{pages}"/>
    <br>
    <br>
    <button type="submit">Удалить</button>
    <a th:href="@{/books}"> Назад </a>
    </p>
    </body>
</form>