<form th:action="@{/publishers/del}" th:object="${publisher}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="hidden" th:field="*{id}"/>
    <h2>Удалим издателя</h2>
    <label>Издатель</label>
    <input type="text" readonly th:field="*{name}"/>

    <button type="submit">Удалить</button>
    <a th:href="@{/publishers}"> Назад </a>
    <br>
    <br> Удалить можно только издателей, у которых нет книг

</form>