<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publishers</title>
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
        }
        th {
            background: #f5f5f5;
        }
    </style>
</head>
<body>

<h2>Список издателей</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Издатель</th>
        <th>Сайт</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="publisher : ${publishersPage}">
        <td th:text="${publisher.getId()}"></td>
        <td th:text="${publisher.getName()}"></td>
        <td th:text="${publisher.getSite()}"></td>
        <td>
            <a th:href="@{/publishers/put/{id}(id=${publisher.getId()})}">
                Изменить
            </a>
        </td>
        <td>
            <a th:href="@{/publishers/del/{id}(id=${publisher.getId()})}">
                Удалить
            </a>
        </td>

    </tr>
    </tbody>
</table>


<!-- ПАГИНАЦИЯ -->
<div class="pagination">
    <a th:if="${publishersPage.hasPrevious()}"
       th:href="@{/publishers(page=${currentPage - 1})}">
        ⬅ Предыдущая
    </a>

    <span th:each="i : ${#numbers.sequence(0, publishersPage.totalPages - 1)}">
        <a th:href="@{/publishers(page=${i})}"
           th:text="${i + 1}"
           th:classappend="${i == currentPage} ? 'active'">
        </a>
    </span>

    <a th:if="${publishersPage.hasNext()}"
       th:href="@{/publishers(page=${currentPage + 1})}">
        Следующая ➡
    </a>
</div>
<br>
<a th:href="@{/publishers/add}"> Добавить нового издателя </a>
<br>
<br>

<a th:href="@{/welcome}"> На главную </a>

</body>
</html>
